
<div class="Fpagetext">
    <h1 class="title">
      Time's Music Album Portfolio
    </h1>
    <p class="subtitle">
          music portfolio + blog

    </p>
    <div>
      <div>
        <%= link_to "ADMIN", dashboard_index_path, type:"button", class:"AdminButton btn btn-outline-dark btn-rounded" %>
      </div>
    </div>
</div>
